*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #E3f2fd;
}
header{
    margin-bottom: 100px;
}
header > nav{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 170px;
}
nav{
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    margin: 0 auto;
}
nav > div:nth-of-type(1){width: 20%; text-align: center;}
nav > div:nth-of-type(2){width: 58%;}
nav > div:nth-of-type(3){width: 15%;}
nav ul{
    display: flex;
    column-gap: 15px;
    align-items: center;
    row-gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
}
nav ul li{
    margin: 0 auto;
    list-style: none;
}
nav ul li a{
    font-size: 1.8em;
    text-decoration: none;
    color: #202020;
    padding: 10px;
    margin: 0 10px;
}
nav ul li a:hover{
    background-color: #206060;
    color: #FFFFFF;
    padding: 20px 10px;
    transition: 0.3s ease-out;
}
nav > a{
    margin: 5px auto;
}
.menu-activo{
    background-color: #206060;
    color: #FFFFFF;
    padding: 20px 10px;
}
#logo{
    width: 200px;
}
#logo:hover{
    opacity: 0.9;
    cursor: pointer;
}
#contenedor-iconos{
    align-items: center;
    justify-content: end;
    font-size: 1.4em;
}
i{
    margin: 25px 10px;
    color: #202020;
    cursor: pointer;
}
i:hover{
    opacity: 0.7;
    transition: 0.3s;
}
.fa-user{
    color: #377070;
}
/* bolsa de compras */
.bolsa-de-compras{
    display: inline-flex;
}
.cantidad-producto-bolsa{
    color: #FFFFFF;
    align-self: end;
    background-color: #209696;
    border-radius: 50%;
    padding: 2.5px 8px;
    border: 1px solid #206060;
    font-weight: 900;
}
.contenedor-seccion{
    width: 88%;
    margin: 0 auto;
}
.descripcion-banner{
    width: 95%;
    height: 402px;
    margin: 30px auto;
}
.descripcion-banner > img{
    float: right;
    width: 620px;
    height: 402px;
}
h1{
    font-size: 0.6in;
    display: inline-block;
    margin-left: 100px;
    width: 400px;
    text-align: center;
}
h1 > button{      
    display: inline-block;
    width: 200px;
    padding: 15px 0;
    background-color: rgb(235, 241, 241);
    font-size: 20px;
    background-color: #206060;
    color: #FFFFFF;
    border: 5px double #FFFFFF;
    cursor: pointer;
}
h1 > button:hover{background-color: #206060; opacity: 0.9}
h1 > button:active{      
   background-color: #206060;
   transform: translateY(4px);
}
h2{
    margin-left: 10px;
    border-bottom: 1px solid #999;
    font-size: 2rem;
    margin: 30px 0;
    padding: 10px 0;
}
.seccion-destacados{
    width: 88%;
    margin: 0 auto;
}
.contenedor-destacados{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 34px;
    row-gap: 34px;
    width: 100%;
    justify-content: center;
}
.col-md-3{
    border-radius: 10px;
    border: 2px solid #c4c4c4;
    background-color: #F7F9F9;
    padding: 30px 25px;
    width: 31.4%;
}
.col-md-3:hover{
    transform: scale(1.1);
    transition: 0.2s ease-out;
}
.contenedor-comentario-items{
    display: flex;
}
.contenedor-foto-comentario{
    align-self: center;
}
.contenedor-foto-comentario > img{
    padding: 0 10px;
}
.comentario-encabezado *{
    margin: 5px;
    padding: 2px;
    font-size: 18px;
}
.comentario-encabezado > p{
    color: #999;
    font-size: 18px;
}
.comentario-encabezado > h5{
    font-size: 20px;
}
.contenedor-opinion{
    padding: 10px 0;
    text-align: justify;
    font-style: italic;
    font-size: 20px;
    line-height: 27px;
}
.tam-img-opiniones{
    filter: invert(27%) sepia(80%) saturate(384%) hue-rotate(131deg) brightness(93%) contrast(86%)
}
.titulo-destacados{
    text-align: center;
    padding: 20px 40px;
    font-size: 2.2vw;
    font-weight: bold;
}
.descripcion-destacados{
    padding: 5px 40px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5vw;
    line-height: 30px;
}
#categorias div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 3em;
    row-gap: 30px;
    justify-content: center;
    padding: 40px 0;
    background-color:#F7F9F9;
    font-size: 1.3em;
    border: 2px solid #c4c4c4;
    border-radius: 10px;
}

.leyenda-categorias{
    padding: 0 5px;
    font-size: 1.3em;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.leyenda-categorias:hover{
    cursor: pointer;
    box-shadow: inset 100px 0 0 10px #414344;
    color: white;
}
#nuestros-productos{
    margin: 0 auto;
    width: 88%;
}
.col-md-4{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
}
.contenedor-articulo{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    border: 2px solid #c4c4c4;
    padding: 15px 0;
    background-color: #F7F9F9;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.contenedor-foto-articulo > img{
    width: 16vw;
    cursor: pointer;
}
.contenedor-foto-articulo > img:hover{
    transform: scale(1.2);
}
.contenedor-descripcion-articulo > p{
    padding: 5px 0;
    text-align: center;
}
.titulo-articulo{
    padding: 5px 0;
    font-size: 22px;
}
.referencia-articulo{
    color: rgb(145, 173, 173);
}
.precio-moneda{
    color: #209696;
    font-size: 18px;
    font-weight: 600;
    margin-right: 3px;
}
.precio-articulo{
    color: #209696;
    font-size: 18px;
    font-weight: 600;
}
.btn-agregar-articulo{
    margin: 15px auto;
    border: 2px solid #959494;
    border-radius: 20px;
    padding: 12px 10px;
    background-color: #206060;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.comprar{
    width: 150px;
}
.btn-agregar-articulo:hover{
    border: 2px solid #565656;
    background-color: #739b9b
}

.btn-agregar-articulo:active {
    background-color: #739b9b;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
  }
.fa-star{
    color: #206060;
}
#contactanos h2{
    font-size: 1.5em;
    text-align: center;
}
#contenedor-ubicacion{
    display: flex;
    column-gap: 10px;
    flex-wrap: nowrap;
    justify-content: center;
}
#contenedor-iframe{
    width: 62%;
}
.mapouter{
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

.contenedor-ubicacion{
    margin-bottom: 18px;
    border-radius: 10px;
}
#titulo-ubicaciones{
    padding-bottom: 15px;
    font-size: 22px;
    text-align: center;
}
.titulo-ubicacion{
    background-color: #206060;
    color: #FFFFFF;
    padding: 12px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.titulo-detalles-ubicacion{
    font-size: 15px;
}
.detalles-ubicacion{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 17px;
    padding: 10px;
    background-color: #F7F9F9;
    width: 480px;
    border: 1px solid #c4c4c4;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

footer{
    background-color: #F7F9F9;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}
footer .contenedor-secciones-footer{
    display: flex;
    column-gap: 30px;
    width: 90%;
    margin: 35px auto;
    text-align: left;
}
footer .titulo-seccion-footer{
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 3px solid #209696;
    margin-bottom: 15px;
    padding: 5px 0;
}
footer .cuerpo-seccion-footer{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: left;
}
footer .cuerpo-seccion-footer > p{
    font-size: 17px;
}

footer .cuerpo-seccion-footer #como-comprar{
    font-weight: bold;
    font-size: 1.3em;
}
footer .footer-comunicacion{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 39%;
    margin-top: 45px;
    text-align: right;
}
footer .footer-comunicacion #titulo-subscribir-corrreo{
    text-align: right;
}

footer #input-subscribirse-footer{
    width: 90%;
    border-radius: 3px;
    padding: 10px 20px;
    border: 1px solid #999;
}
footer #contenedor-terminos-condiciones{
    display: flex;
    text-align: right;
    column-gap: 5px;
}
footer .fa-brands{
    font-size: 2.5em;
}

.fa-envelope{
    margin: 0;
    font-size: 38px;
    vertical-align: top;
}
#creditos{
    width: 90%;
    margin: 0 auto;
    text-align: right;
}
.negrita-subrayado    {
    text-decoration: underline;
    font-weight: bold;
}