*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #E3f2fd;
}
header{
    margin-bottom: 100px;
}
header > nav{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    margin: 0 auto;
}
nav > div:nth-of-type(1){width: 20%; text-align: center;}
nav > div:nth-of-type(2){width: 58%;}
nav > div:nth-of-type(3){width: 15%;}
nav ul{
    display: flex;
    column-gap: 15px;
    align-items: center;
    row-gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
}

nav ul li{
    margin: 0 auto;
    list-style: none;
}
nav ul li a{
    font-size: 1.8em;
    text-decoration: none;
    color: #202020;
    padding: 10px;
    margin: 0 10px;
}
nav ul li a:hover{
    background-color: #206060;
    color: #FFFFFF;
    padding: 20px 10px;
    transition: 0.3s ease-in;
}
nav > a{
    margin: 5px auto;
}
#inicio{
    background-color: #206060;
    color: #FFFFFF;
    padding: 20px 10px;
}
#logo{
    width: 200px;
}
#logo:hover{
    opacity: 0.9;
    cursor: pointer;
}
#contenedor-iconos{
    align-items: center;
    justify-content: end;
    font-size: 1.4em;
}
i{
    margin: 25px 10px;
    color: #202020;
    cursor: pointer;

}
i:hover{
    opacity: 0.7;
    transition: 0.3s;
}
.fa-user{
    color: #377070;
}
.contenedor-seccion{
    width: 88%;
    margin: 0 auto;
}
main > div:nth-child(1){
    width: 95%;
    height: 402px;
    margin: 30px auto;
}
main > div > img{
    float: right;
    width: 620px;
    height: 402px;
}
h1{
    font-size: 0.6in;
    display: inline-block;
    margin-left: 100px;
    width: 400px;
    text-align: center;
}
h1 > button{      
    display: inline-block;
    width: 200px;
    padding: 15px 0;
    background-color: rgb(235, 241, 241);
    font-size: 20px;
}
h2{
    margin-left: 10px;
    border-bottom: 1px solid #999;
    font-size: 2rem;
    margin: 30px 0;
    padding: 10px 0;
}
.destacados{
    width: 88%;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 100%;
    justify-content: center;
}
.col-md-4{
    background-color: #F7F9F9;
    padding: 30px 0;
}
.col-md-4{
    border-radius: 10px;
    border: 2px solid #c4c4c4;
    width: 33%;
}
.titulo-destacados{
    text-align: center;
    padding: 20px 40px;
    font-size: 2.2vw;
    font-weight: bold;
}
.descripcion-destacados{
    padding: 5px 40px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5vw;
    line-height: 32px;
}

#categorias div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 3em;
    row-gap: 30px;
    justify-content: center;
    padding: 40px 0;
    background-color:#F7F9F9;
    font-size: 1.3em;
    border: 2px solid #c4c4c4;
    border-radius: 10px;
}
.leyenda{
    padding: 0 5px;
    font-size: 1.3em;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.leyenda:hover{
    cursor: pointer;
    box-shadow: inset 100px 0 0 10px #414344;
    color: white;
}
#nuestros-productos{
    margin: 0 auto;
    width: 88%;
}
#row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 34px;
    row-gap: 30px;
    justify-content: center;
}
#nuestros-productos .col-md-5{
    display: contents;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
}
.contenedor-items{
    min-width: 300px;
    border: 3px solid #c4c4c4;
    padding: 15px 0;
    background-color: #F7F9F9;
    border-radius: 10px;
}
.tam-image{
    width: 16vw;
    cursor: pointer;
}
.tam-image:hover{
    transform: scale(1.2);
}

.col-md-5 .contenedor-items > p:nth-child(2){
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    font-family: 'Arial Narrow', Arial, sans-serif;
}
.col-md-5 .contenedor-items > p:nth-child(3){
    color: rgb(145, 173, 173);
    font-size: 18px;
    text-align: center;
}
.btn-añadir-carrito{
    margin: 15px auto;
    border: 2px solid #959494;
    border-radius: 20px;
    padding: 12px 5px;
    background-color: #739b9bc1;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.btn-añadir-carrito:hover{
    border: 2px solid #565656;
    background-color: #739b9b
}

.btn-añadir-carrito:active {
    background-color: #739b9b;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
  }
#contactanos h2{
    font-size: 1.5em;
    text-align: center;
}

#contenedor-ubicacion{
    display: flex;
    column-gap: 10px;
    flex-wrap: nowrap;
    justify-content: center;
}
#contenedor-iframe{
    border: 1px solid #202020;
    width: 70vw;;

}
#contenedor-form{
    border: 1px solid #202020;
    background-color: #E3f2fd;
    width: 16vw;
}
iframe{
width: 100%;
}
form{
    text-align: center;
    margin: 0 auto;
}
form > label{
    font-size: 1.3em;
}
form > input, form > textarea{
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 12px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 80%;
    
}
form > button{
    display: block;
    margin: 10px auto;
}
footer{
    margin-top: 50px;
    padding: 20px;
    background-color: #F7F9F9;
    text-align: center;
}
h3{
    font-size: 2.2vw;
    padding: 20px;
}
footer p{
    display: inline-block;
    padding: 20px;
    font-size: 1.3em;
}
footer p i{
    padding: 20px;
}